@media (min-width: 992px)
  .blocks .heading h2, body.full-width .heading h2
    width: auto

h1
  color: #CF4521
  font-weight: 800

@media (min-width: 992px)
  .blocks .block, body.full-width .block
    --block-space-y: 1rem

.main-title
  text-decoration-color: #a7a7a7
