
$rouge-sympa: #CF4521
h1
  color: $rouge-sympa
  font-weight: 900

@media (min-width: 992px)
  .blocks .block, body.full-width .block
    --block-space-y: 1rem

.main-title
  text-decoration-color: #a7a7a7

.block .block-title
  font-family: "cabinet grotesk", "Arial", sans-serif
  font-size: 3rem
  font-weight: 900
  line-height: var(--h5-line-height)
  text-transform: none
  color: $rouge-sympa

h2 a
  text-decoration-color: #00000045
  text-decoration-thickness: 1px
  text-underline-offset: 0.2em
  transition: text-decoration-color 0.3s ease

.block-testimonials blockquote p
  color: $rouge-sympa
  font-style: normal

.chapter
  display: flex
  flex-direction: column
  align-items: center

.block-pages .grid article .media img
  transition: rotate 0.3s ease
  transform-origin: center
  object-fit: contain
  transition: transform 0.3s ease-in-out
  display: block
  margin: 0 auto

.block-pages .grid article .media img::after
  animation: bounceRotate 0.5s ease-in-out forwards
@keyframes bounceRotate
  0%
    transform: scale(1) rotate(0deg)
  50%
    transform: scale(1.1) rotate(8deg)
  100%
    transform: scale(1) rotate(0deg)

.block-chapter .notes *
  font-family: "Supreme-Regular", "Baskerville", "Times", sans-serif
  font-size: 1.3rem
  font-weight: normal
  line-height: 2rem

.block-call_to_action
  --cta-background-color: #CF4521

.heading h2
  font-family: "cabinet grotesk", "Baskerville", "Times", sans-serif
  font-size: 2.5rem
  font-weight: 600

.toc ol .active
  color: $rouge-sympa
